*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Archivo', sans-serif;
}
header{
	height: 100vh;
	background-color: #bae9fd;
	background:url(../img/banner.jpg);
	background-size: cover;
	background-position: center;
}
/*nav bar*/
.navigation{
	display: flex;
	justify-content: space-between;
	padding: 30px;
	position: relative;
	z-index: 1000;
	width: 100vw;
}
.nav-left, .nav-right{
	display: flex;
	align-items: center;
}
.nav-left button{
	margin-left: 20px;	
}
.nav-right button{
	margin-right: 20px;
}
.nav-left button, .nav-right button{
	padding: 10px;
	border:none;
	background-color: transparent;
	font-size: 13px;
	color: white;
}
.nav-left h1, .nav-right a{
	color: white;
}
/*dropdown-1*/
.dropdown-content{
	position: absolute;
	display: flex;
	align-items: center;
	height: 500px;
	width: 99vw;
	left: 50%;
	top: 10px;
	transform: translate(-50%);
	justify-content: space-around;
	background-color: #fff;
	z-index: -1;
	display: none;
}.square{
	width: 300px;
	height: 260px;
}
.sections h4{
	margin-top: 10px;
}
/*ETQ black*/
.logo-black h1{
	position: absolute;
	left: 30px;
	color: #000;
	top: 34px;
	display: none;
}
/*nav-right black*/
.nav-right-black{
	position: absolute;
	right: 30px;
	top: 30px;
	align-items: center;
	display: none;
}
.nav-right-black button{
	margin: 0 16px 0 0;
	color: black;
}
.nav-right-black a{
	font-size: 15px;
	color: black;
}
/*square photos*/
#men{
	background: url(../img/men.jpg);
	background-size: cover;
	background-position: center;
}
#women{
	background: url(../img/women.jpg);
	background-size: cover;
	background-position: center;
}
#shades{
	background: url(../img/36.jpg);
	background-size: cover;
	background-position: center;
}
/*hidden square*/
#hidden, .hidden{
	visibility: hidden;
}
/*hovering*/
.nav-left h1:hover, .nav-left button:hover{
	cursor: pointer;
}
.dropdown-content:hover{
	cursor: pointer;
}
.btn:hover{
	text-decoration: underline;
}
.sections:hover > h4{
	text-decoration: underline;
}
/*drodown hover*/
.dropdown-1:hover .dropdown-content{
	display: flex;
}
/*hover color change*/
.dropdown-1:hover > .btn{
	color: black;
}
.dropdown-1:hover ~ .btn{
	color: black;
}
.dropdown-1:hover .logo-black h1{
	display: block;
}
.dropdown-1:hover .nav-right-black{
	display: block;
}











